.blog-item {
  display: block;
  height: 128px;
  margin: 15px;
  border: 1px solid grey;
  padding: 5px 10px;
  box-shadow: 10px 10px 5px grey;
  text-decoration: none;
  color: black;
}

.blog-item:visited {
  color: black;
}